# swaymsg -t get_outputs
# output 'OUTPUT NAME 1' alias $OUTPUT1
# output 'OUTPUT NAME 2' alias $OUTPUT2

# kanshictl [ reload | switch <profile> ]
# profile profile_name {
#     output $OUTPUT1 position 0,0
#     output $OUTPUT2 position 1920,0
#     exec swaymsg focus output 'OUTPUT NAME 1', workspace 6, focus output 'OUTPUT NAME 2', workspace 1
# }

